@charset "UTF-8";

@font-face {
    font-family: 'Netflix regular';
    src: url(../fontes/NetflixSans-Regular.otf);
}
@font-face {
    font-family: 'Netflix light';
    src: url(../fontes/NetflixSans-Light.otf);
}
* {
    box-sizing: border-box;
}
body, html {
    color: white;
    font-family: 'Netflix regular';
    background-color: black;
}
section {
    border-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-color: rgb(112, 110, 110);
}
div#inicio {
    background: url(../imagens/netflix.jpg) no-repeat;
    background-size: cover;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header h1 {
    color: red;
    font-size: 3em;
    margin: 0px;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-top: 15px;
}
header select {
    background-color: black;
    color: white;
    padding: 8px;
    margin-right: 20px;
    font-size: 15px;
}
header a {
    background-color: red;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 50px;
}
section{
    text-align: center;
}
section#first {
    text-align: center;
}
div.campocentral {
    width: 45vw;
    margin: auto;
}
h1 {
    font-size: 3em;
}
section#first p {
    font-size: 1.2em;
    font-family: 'Netflix regular';
    font-weight: 100;
}
section#first h4 {
    font-size: 1.5em;
    font-family: 'Netflix light';

}
div#conteiner {
    background-color: green;
    width: 45vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
input#email {
    padding: 20px 5px;
    width: 72%
}
input#botao {
    background-color: red;
    color: white;
    padding: 15px 20px;
    font-size: 1.7em;
    border: none;
    float: right;
}
section#topic3 {
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 30px;
}
section#topic3 .campocentral {
    text-align: left;
    width: 533px

}
img {
    height: 400px;
}
section.topic4 div {
    background-color: #303030;
    width: 60vw;
    padding: 20px 30px;
    margin: 10px auto;
    font-size: 1.7em;
    text-align: left;
}
p {
    font-size: 25px;
}