@charset "UTF-8";
@font-face {
    font-family: 'Netflix regular';
    src: url(../fontes/NetflixSans-Regular.otf);
}
@font-face {
    font-family: 'Netflix light';
    src: url(../fontes/NetflixSans-Light.otf);
}
* {
    margin: 0px;
    box-sizing: border-box;
}
/* @keyframes rotate {
    to {
        transform: rotate(90deg);
    }
} */
body, html {
    background-color: black;
    color: white;
    font-family: 'Netflix regular';
}
section {
    border-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-color: rgb(56, 55, 55);
    text-align: center;

}
div#inicio {
    background: url(../imagens/netflix.jpg) no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 700px 200px black;

}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header h1 {
    color: red;
    font-size: 3em;
    margin: 0px;
    margin-bottom: 130px;
    padding-left: 50px;
    padding-top: 15px;
}
header select {
    background-color: black;
    color: white;
    padding: 8px;
    margin-right: 20px;
    font-size: 15px;
    margin-top: 30px;
}
header a {
    background-color: red;
    color: white;
    padding: 7px 20px;
    font-size: 15px;
    font-weight: 600;
    margin-right: 50px;
    margin-top: 30px;
    text-decoration: none;
}
section#first {
    text-align: center;
}
div.campocentral {
    width: 46vw;
    margin: auto;
}
h1 {
    margin-bottom: 20px;
    font-size: 3em;
}
section#first p {
    font-size: 1.2em;
    font-family: 'Netflix regular';
    font-weight: 100;
    margin-bottom: 15px;
}
section#first h4 {
    font-size: 1.5em;
    font-family: 'Netflix light';
    margin-bottom: 20px;

}
div.conteiner {
    background-color: green;
    width: 45vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
input#email {
    padding: 20px 5px;
    width: 72%
}
input#botao {
    background-color: red;
    color: white;
    padding: 15px 20px;
    font-size: 1.7em;
    border: none;
    float: right;
}
input#botao:hover {
    cursor: pointer;
}
section#topic2 {
    display: flex;
    flex-flow: row nowrap;
    margin: 40px 0px;
}
section#topic2 .campocentral {
    text-align: left;
    width: 533px
}
section#topic2 h1 {
    margin-bottom: 20px;
}
img#img2 {
    height: 350px;
    margin-right: 100px;
}

section#topic3 {
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 30px;
}
section#topic3 .campocentral {
    text-align: left;
    width: 533px
}
img {
    height: 400px;
}
section.topic4 {
    margin-top: 50px;
}
section.topic4 h1 {
    margin-bottom: 50px;

}
section.topic4 > div {
    background-color: #303030;
    width: 60vw;
    padding: 20px 30px;
    margin: 10px auto;
    font-size: 1.7em;
    text-align: left;
}
section.topic4 div:hover {
    cursor: pointer;
}
.perguntas > div{
    display: flex;
    justify-content: space-between;
}
p.escondido {
    display: none;
    padding-top: 10px;
}

p {
    font-size: 25px;
}
